deepeval==4.2.7
chromadb
click>=8.0.0,<8.4.0
huggingface-hub>=0.16.4,<1.0
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-anthropic
langchain-ollama
langgraph
langchain-core
openai
python-dotenv
langchain-mcp-adapters
numpy